[submodule "djangoexample"]
	path = djangoexample
	url = git@github.com:TakesxiSximada/djangoexample.git
[submodule "docker-fake-sns"]
	path = docker-fake-sns
	url = git@github.com:feathj/docker-fake-sns.git
[submodule "warehouse"]
	path = warehouse
	url = git@github.com:pypa/warehouse.git
[submodule "gitorious-docker"]
	path = gitorious-docker
	url = https://git.gitorious.org/gitorious/gitorious-docker.git
