body
  min-height: 2000px
  padding-top: 70px
  margin-bottom: 60px
  font: 12px Roboto,arial,sans-serif
  background-color: transparent
  // background-color:

footer
  postion: absolute
  bottom: 0
  width: 100%
  height: 60px
  margin: 20px 0

.copy-right
  text-align: center


.nav.navbar-nav
  font-size: 1.5em

.video-js
  margin: 0 auto
  position: relative
  width: 500px
  height: auto

.recoding-view
  margin: 0 auto
  position: relative
  width: 500px
  height: auto

.recoding-view .controll
  margin: 0 auto
  position: relative
  width: 500px
  height: auto
